<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/rcanoff/abridge/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vQzEN1ot2Ccx10HPFhB6cmubthqjTDb4ycjRi+6W0mE=</string>
</dict>
</plist>
